MNIST-data
logs
core/configuration.ini
*.pyc
*.egg-info/
.DS_Store
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
.cache/
tests/artifacts/runner_scheduler/mnist/transformed/
tests/artifacts/runner_scheduler/test/transformed/
tests/artifacts/communication_manager/mnist/transformed/
datasets/shakespeare

core/utils/weights
