pytest==3.6.2
numpy==1.14.0
tensorflow==1.7.0
Keras==2.1.5
pandas==0.22.0
ray
schedule
rlp==0.6.0
ipfsapi==0.4.2.post1
py_solc==2.1.0
web3==4.1.0
requests==2.18.4
eth_utils==1.0.2
ethereum==2.3.1
filelock==3.0.4
blockchain==1.4.4
asposebarcode==1.0.0
base58==0.2.4
psycopg2==2.7.3
flask==0.11.1
Flask_SQLAlchemy==2.3.1
scikit-learn==0.19.1
