absl-py==0.8.1
astor==0.8.0
atomicwrites==1.3.0
attrs==19.2.0
base58==0.2.4
bleach==1.5.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==0.11.1
Flask-SQLAlchemy==2.3.1
gast==0.3.2
grpcio==1.24.1
h5py==2.10.0
html5lib==0.9999999
idna==2.6
ipfsapi==0.4.2.post1
itsdangerous==1.1.0
Jinja2==2.10.3
Keras==2.3.1
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
numpy==1.14.0
pandas==0.22.0
pluggy==0.6.0
protobuf==3.10.0
psycopg2==2.7.3
py==1.8.0
pytest==3.6.2
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.18.4
schedule==0.6.0
scipy==1.3.1
six==1.12.0
SQLAlchemy==1.3.10
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.22
websockets==8.0.2
Werkzeug==0.16.0
