option_settings:

 - option_name: SUPER_USER_NAME
   value: sharkroot2
 - option_name: SUPER_USER_PASSWORD
   value: sharkroot2
 - option_name: SUPER_USER_EMAIL
   value: georgymarrero@gmail.com

 - option_name: RDS_HOSTNAME
   value: authdb.cwnzqu4zi2kl.us-west-1.rds.amazonaws.com
 - option_name: RDS_DB_NAME
   value: authdb
 - option_name: RDS_USERNAME
   value: sharkroot
 - option_name: RDS_PASSWORD
   value: IAmSharkRoot
 - option_name: RDS_PORT
   value: 5432
