rlp==0.6.0
ipfsapi==0.4.2.post1
numpy==1.14.0
Keras==2.1.5
py_solc==2.1.0
web3==4.1.0
requests==2.18.4
eth_utils==1.0.2
ethereum==2.3.1
tensorflow==1.7.0
filelock==3.0.4
blockchain==1.4.4
custom==0.1.1
data==0.4
asposebarcode==1.0.0
