container_commands:
  01_collectstatic:
    command: 'python manage.py collectstatic --settings=core.settings --noinput'
  01_migrate:
    command: 'python manage.py makemigrations'
    leader_only: true
  02_migrate:
    command: 'python manage.py migrate auth --noinput'
    leader_only: true
  03_migrate:
    command: 'python manage.py migrate enterprise_users --noinput'
    leader_only: true
  04_migrate:
    command: 'python manage.py migrate --noinput'
    leader_only: true
  01_create_superuser:
    command: "python manage.py create_superuser"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
